STAGE: 'dev'

ASSETS_HOST: 'http://localhost:3000'
DEFAULT_HOST: 'http://localhost:3000'

SECRET_KEY_BASE: ''
FACEBOOK_APP_ID: ''
GOOGLE_ANALYTICS_TRACKING_CODE: ''
MEMCACHE_SERVERS: 'localhost:11211'

MAIL_ADDRESS: ''
MAIL_FROM: ''
MAIL_PORT: ''
MAIL_DOMAIN: ''
MAIL_USER_NAME: ''
MAIL_PASSWORD: ''

production:
  DEFAULT_HOST: ''
  MEMCACHE_SERVERS: ''
